{{ define "main" }}
<!-- Service 1 - Bootstrap Brain Component -->
<!-- <section class="py-5 py-xl-8"> -->
<!-- <div class="container overflow-hidden"> -->

<!-- <iframe
      class="rounded border border-3 border-light shadow"
      src="{{.Site.Params.pay.img}}"
      width="100%"
      height="100%"
      allowfullscreen="true"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe> -->
<img src="{{.Site.Params.pay.img}}" alt="payments QR code" style="max-width: 100%;" />
<!-- </div> -->
<!-- </section> -->
{{ end}}